<h3 class="page-header">Médico</h3>

<div class="row">
    <div class="form-group col-md-4">
        <label>Nome Completo</label>
        <input class="form-control" type="text" name="nomeCompleto" ng-model="medico.nomeCompleto" ng-required="true" />
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label>RG</label>
        <input class="form-control" type="text" name="rg" ng-model="medico.rg" ng-required="true" />
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label>CPF</label>
        <input class="form-control" type="text" name="cpf" placeholder="000.000.000-00" ng-model="medico.cpf" ng-required="true" ui-br-cpf-mask="true" />
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label>Habilitação</label>
        <input class="form-control" type="text" name="habilitacao"  placeholder="000-000-000" ng-model="medico.habilitacao" ng-required="true" />
    </div>
</div>

<hr />

<div class="alert alert-danger" ng-if="medicoForm.$invalid && medicoForm.$dirty">

    <label ng-show="medicoForm.nomeCompleto.$invalid && medicoForm.nomeCompleto.$dirty">
        Nome Completo é uma informação obrigatória.
    </label>

    <label ng-show="medicoForm.rg.$invalid && medicoForm.rg.$dirty">
        RG é uma informação obrigatória.
    </label>

    <label ng-show="medicoForm.cpf.$invalid && medicoForm.cpf.$dirty">
        O CPF informado é inválido.
    </label>

    <label ng-show="medicoForm.habilitacao.$invalid && medicoForm.habilitacao.$dirty">
        A Habilitação é uma informação obrigatória.
    </label>

</div>