<div class="table-responsive col-md-12">
    <table class="table table-striped" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>Tipo Sanguíneo</th>
                <th>Fator Rh</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doador in doadores | filter:filtro:'name'">
                <td>{{doador.nomeCompleto}}</td>
                <td>{{doador.tipoSanguineo}}</td>
                <td>{{doador.fatorRh ? 'Positivo' : 'Negativo'}}</td>
                <td>
                    <a class="btn btn-success btn-xs" href="#/doadores/{{doador.id}}">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="#/doadores/{{doador.id}}/editar">Editar</a>
                    <button class="btn btn-danger btn-xs" ng-click="excluir(doador)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>